{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Ektraksi Daun</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="{% static 'frontend/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/vendor/animsition/css/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/spinjs/spin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body style="background-color: #ff0;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" id="form-login" method="POST">
                    <span class="login100-form-title p-b-43">
                        Login to continue
                    </span>
                    
                    
                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <input id="username" class="input100" type="text" required="" name="username">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Username</span>
                    </div>
                    
                    
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input id="password" class="input100" type="password" required="" name="password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    


                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>
                    <div align="center">
                        <a href="{% url 'index' %}" class="btn-link">Back</a>
                    </div>
                    {% csrf_token %}
                </form>

                <div class="login100-more" style="background-image: url('{% static 'frontend/images/bg-01.jpg' %} ');">
                </div>
            </div>
        </div>
    </div>
    
    

    
    
    <!--===============================================================================================-->
    <script src="{% static 'frontend/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'frontend/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'frontend/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'frontend/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="{% static 'frontend/vendor/countdowntime/countdowntime.js' %}"></script>
    <script src="{% static 'plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <!--===============================================================================================-->
    <script  src="{% static 'plugins/spinjs/spin.umd.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'frontend/js/main.js' %}"></script>
    <script>
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]');


    $("#form-login").submit(function(e) {
        e.preventDefault();
        showSpinner();
        var username= $("#username").val();
        var password= $("#password").val();

        $.ajax({
            headers: {'X-CSRFToken': csrftoken.value},
            type: "POST",
            dataType: "json",
            url: "{% url 'process_login' %}",
            data: {username,password},
            
        })
        .done(function(result) {
            if (result.success == 1) {
                window.location.href="{% url 'buah/index' %}"
                return;
            }
            swalFireGagal({text: 'Periksa username atau password!!!'});
        })
        .always(function() {
            hideSpinner();
        });

    });
    </script>
</body>
</html>
