{% extends "base.html" %}
{% load static %}
{% block export-css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/cropperjs/dist/cropper.min.css" %}">
{% endblock export-css %}
{% block css %}
<style type="text/css">
img {
  display: block;
  max-width: 100%;
}
.preview {
  overflow: hidden;
  width: 160px; 
  height: 160px;
  margin: 10px;
  border: 1px solid red;
}
.modal-lg{
  max-width: 1000px !important;
}
</style>
{% endblock css %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Data ANFIS</h1>
      </div><!-- /.col -->
      <div class="col-sm-6 text-right">
        <button type="button" id="btn-tambah" onclick="location.href='{% url 'buah/tambah_model' %}'" class="btn btn-primary">Buat Model Baru</button>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="table-responsive">
              <table id="table-model-anfis" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Data Latih</th>
                    <th>Data Uji</th>
                    <th>Epoch</th>
                    <th>Akurasi</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for model in models %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ model.jumlah_data_latih }}</td>
                    <td>{{ model.jumlah_data_uji }}</td>
                    <td>{{ model.epoch }}</td>
                    <td>{{ model.accuracy }}</td>
                    <td>
                      <button class="btn btn-danger btn-hapus" type="button" onclick="hapusAnfis({{ model.id }})">Hapus</button>
                      <button class="btn btn-info btn-detail" type="button" onclick="location.href='{% url 'buah/lihat_anfis' model.id %}'">Detail</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- /.content -->


{% endblock content %}

{% block export-js %}
<!-- DataTables -->
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/cropperjs/dist/cropper.min.js" %}"></script>
{% endblock export-js %}

{% block js %}
<script>

$("#table-model-anfis").DataTable();

function hapusAnfis(model_id) {
  var model_id = model_id
  axios.post('{% url "buah/hapus_anfis" %}', Qs.stringify({ 
    model_id: model_id
  }))
  .then((res) => {
    data = res.data
    if (data.success == 1) {
      window.location.reload(false);
    }
  })
}
</script>
{% endblock js %}