{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  
  <title>Klasifikasi Buah</title>
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/cropper.css' %}">
  <link href="{% static 'frontend/vendor1/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/vendor1/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/vendor1/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="{% static 'frontend/css/grayscale.min.css' %}" rel="stylesheet">
</head>
<style>
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container" >
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#buah">Buah Gaharu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'pengujian' %}">Klasifikasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#pengujian">Klasifikasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">GAHARU</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
        <a href="{% static 'frontend//crop-user' %}" class="btn btn-primary js-scroll-trigger">Klasifikasi</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Apa itu Sistem Pengenalan Daun Buah ?</h2>
          <p class="text-white-50" style="text-align: justify; text-indent: 2em">Pengenalan Daun Buah ini adalah sebuah sistem yang ditujukan kepada masyarakat umum yang ingin mengenal jenis daun buah lebih dalam. Sistem ini dapat membedakan atau mengklasifikasikan jenis-jenis dari daun buah. Pada saat ini sistem hanya dapat mengklasifikasikan 4 jenis daun buah yang berada di riau, yaitu Buah <i>Crassna , Micropcarpa , Sinensis , dan Subintegra </i></p>
        </div>
        
      </section>

      <!-- Projects Section -->
      
      <section id="buah" class="projects-section" style="background-color: #e7e7e7">
        <div class="align-items-center" align="center">
          
         <h1><b><u>GAHARU</u></b></h1>

       </div>
       <div class="container">
         



        <!-- Featured Project Row CRASSNA-->
        <div class="row shadow justify-content-center no-gutters mb-5 mb-lg-0 align-items-center mt-5" style="height: 350px;">
          <div class="col-xl-2 col-lg-7">
            <img class="img-fluid img-thumbnail" src="{% static 'frontend/Crassna.jpg' %}" alt="responsive image" style="height: 250px; ">
          </div>
          <div class="col-xl-7">
            <div class="featured-text text-center text-lg-left">
              <h3>Crassna</h3>
              <p class="text-black-50 mb-0"> Buah jenis crassna ini memiliki bentuk daun Daun lonjong - lanset, (8-) 18-24 cm x (4,5-)2-3 cm, licin, ujung daun lancip, pangkal tumpul, tulang daun sekunder sejajar/paralel, jumlah 23-32 pasang, terlihat jelas pada permukaan bawah. Persebarannya terdapat pada wilayah Maluku (Buru: Kajeli dan Halmaheira), Riau (Sumatera).</p>
            </div>
          </div>
          
        </div>


        <!-- subintegra --> 
        <div class="row bg-black justify-content-center rounded-lg no-gutters mt-5 mb-5 mb-lg-0 align-items-center" style="padding-left: 100px; height: 350px;" >
          
          <div class="col-lg-8">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Subintegra</h4>
                  <p class="mb-0 text-white-50">Buah Subintegra adalah jenis baru yang memiliki kualitas tinggi hasil perkawinan buah crassna dengan buah malacensis. Daun ini ditemukan di Thailand. Daunnya memiliki bentuk bundar telur melebar-lonjong berkuran 12-16cm x 6-9cm.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <img class="img-fluid img-thumbnail" src="{% static 'frontend/Subintegra.jpg' %}" alt="responsive image" style="height: 250px; ">
          </div>
        </div> 




        <!-- Project One Row -->
        <div class="row  justify-content-center shadow no-gutters mb-5 mb-lg-0 align-items-center mt-5" style="height: 350px;">
          <div class="col-xl-2 col-lg-7">
            <img class="img-fluid img-thumbnail" src="{% static 'frontend/Sinensis.jpg' %}" alt="responsive image" style="height: 250px; ">
          </div>
          <div class="col-xl-7">
            <div class="featured-text text-center text-lg-left">
              <h3>Sinensis</h3>
              <p class="text-black-50 mb-0">Buah sinensis adalah spesies tanaman endemik yang ditemukan di cina. Bentuk daun buah sinensis ini bundar telur melonjong dengan tekstur yang kasar pada bagian pertulangan dan halus pada permukaan daunnya. Daun buah sinensis ini umumnya memiliki panjang 5-12cm x lebar 3-6cm. Persebaran buah jenis sinensis ini terdapat di wilayah sumatera, kalimantan dan dataran cina.</p>
            </div>
          </div>
          
        </div>   

        <!-- micro -->
        <div class="row bg-black align-items-center no-gutters mb-4 mb-lg-5 mt-5 rounded-lg" style="height: 350px;">     
          <div class="col-xl-7">
            <div class="text-center  text-lg-right">
              <h4 class="text-white">Microcarpa</h4>
              <p class="text-white-50 mb-0"> Buah jenis microcarpa memiliki nama daerah karas (Indonesia). Daunnya memiliki bentuk Daun bundar telur-lanset terbalik, tipis, ukuran 4-11 x 1–4 cm, ujung lancip, pangkal daun bentuk pasak-tirus, tepi rata dan menebal; warna hijau, permukaan atas licin, bawah kadang berbulu halus, panjang tangkai 3-5 mm, tulang daun sekunder sejajar, agak rapat, jumlah 10–19 pasang, terlihat jelas menonjol pada permukaan bawah. Persebaran buah microcarpa ini terdapat pada wilayah Sumatera (Sijunjung, Lampung, Palembang, Riau, Bengkulu, Jambi, Bangka dan Belitung)dan Kalimantan.
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
          <div class="col-xl-5 col-lg-5" style="padding-left: 100px;">
            <img class=" img-fluid mb-3 mb-lg-2 img-thumbnail" src="{% static 'frontend/Microcarpa.jpg' %}" alt="responsive image" style="height: 250px; ">
          </div>
        </div>
      </div>
    </section>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Back to the Top</button>

    

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; ADITYA PAM BUDHI - 11451104750
      </div>
    </footer>
  </body>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'frontend/vendor1/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'frontend/vendor1/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'frontend/vendor1/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'frontend/js/grayscale.min.js' %}"></script>
  <script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
</body>

</html>
