{% extends "base.html" %}
{% load static %}
{% block export-css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/cropperjs/dist/cropper.min.css' %}">
{% endblock export-css %}
{% block css %}
<style type="text/css">

</style>
{% endblock css %}
{% block content %}

<h2 class="title-heading">Detail Model ANFIS</h2>

<div class="table-responsive">
  <table class="table ">
    <tbody>
      <tr>
        <th style="width:40%">Epoch</th>
        <td>: {{ epoch }}</td>
      </tr>
      <tr>
        <th>Jumlah Benar (Akurasi)</th>
        <td>: {{ jumlah_benar }} dari {{ total_data_test }} ({{ akurasi|floatformat:"0" }} %)</td>
      </tr>


    </tbody>
  </table>
</div>
<h2 class="title-heading">Data Latih</h2>

<div class="table-responsive">
  <table class="table table-striped" id="table-data-latih">
    <thead>
      <tr>
        <th>No</th>
        <th>FORM_FACTOR</th>
        <th>ASPECT_RATIO</th>
        <th>RECT</th>
        <th>NARROW_FACTOR</th>
        <th>PRD</th>
        <th>PLW</th>
        <th>MEAN H</th>
        <th>MEAN S</th>
        <th>MEAN V</th>
        <th>KELAS</th>
      </tr>
    </thead>
    <tbody>
      {% for train in table_train  %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ train.form_factor }}</td>
        <td>{{ train.aspect_ratio }}</td>
        <td>{{ train.rect }}</td>
        <td>{{ train.narrow_factor }}</td>
        <td>{{ train.prd }}</td>
        <td>{{ train.plw }}</td>
        <td>{{ train.mean_h }}</td>
        <td>{{ train.mean_s }}</td>
        <td>{{ train.mean_v }}</td>
        <td>{{ train.kelas }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<h2 class="title-heading">Data Uji</h2>

<div class="table-responsive">
  <table class="table table-striped" id="table-data-uji">
    <thead>
      <tr>
        <th>No</th>
        <th>FORM_FACTOR</th>
        <th>ASPECT_RATIO</th>
        <th>RECT</th>
        <th>NARROW_FACTOR</th>
        <th>PRD</th>
        <th>PLW</th>
        <th>MEAN H</th>
        <th>MEAN S</th>
        <th>MEAN V</th>
        <th>KELAS PREDIKSI</th>
        <th>KELAS SEBENARNYA</th>
      </tr>
    </thead>
    <tbody>
      {% for test in table_test  %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ test.form_factor }}</td>
        <td>{{ test.aspect_ratio }}</td>
        <td>{{ test.rect }}</td>
        <td>{{ test.narrow_factor }}</td>
        <td>{{ test.prd }}</td>
        <td>{{ test.plw }}</td>
        <td>{{ test.mean_h }}</td>
        <td>{{ test.mean_s }}</td>
        <td>{{ test.mean_v }}</td>
        <td>{{ test.kelas_predicted }}</td>
        <td>{{ test.kelas}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}


{% block export-js %}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock export-js %}

{% block js %}

<script>
$("#table-data-latih").DataTable();
$("#table-data-uji").DataTable();
</script>
{% endblock js %}