{% extends "base.html" %}
{% load static %}
{% block export-css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/cropperjs/dist/cropper.min.css' %}">
{% endblock export-css %}
{% block css %}
<style type="text/css">

</style>
{% endblock css %}
{% block content %}


<h2 class="title-heading">Tambah Model Baru</h2>

<br />
<div class="row">
  <div class="col-md-12">

    <div class="panel panel-primary" id="content-menu" >
      <div class="panel-body">

        <form id="form-latih" onsubmit="return false;">
          {% csrf_token %}

          <div class="form-group">
            <label for="">Simpan Model</label>
            <select name="simpan" id="simpan" class="form-control">
              <option value="1">Ya</option>
              <option value="-1">Tidak</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Pembagian Data Uji (%)</label>
            <input type="text" class="form-control" id="persen_uji" required placeholder="ex: 20 artinya 80% data latih dan 20% data uji " name="persen_uji" value="20">
          </div>
          <div class="form-group">
            <label for="">Epoch</label>
            <input type="number" class="form-control" id="epoch" name="epoch" value="1">
          </div>


          <button class="btn btn-primary" type="submit" id="btn-latih">Mulai Latih</button>
        </form>

      </div>

    </div>
    <div style="display:none" id="content-hasil-klasifikasi">
      <div class="panel panel-gradient">
        <div class="panel-heading">
          <div class="panel-title">Hasil Pemrosesan</div>

        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table ">
              <tbody>
                <tr>
                  <th style="width:40%">Epoch</th>
                  <td>: <span id="epoch-show"></span></td>
                </tr>
                <tr>
                  <th>Jumlah Benar (Akurasi)</th>
                  <td>: <span id="jumlah_benar"></span> dari <span id="total_data_test"></span> (<span id="akurasi"></span> %)</td>
                </tr>


              </tbody></table>
            </div>


          </div>
        </div>
      </div>

      <div style="display:none" id="content-data-latih">
        <div class="panel panel-gradient">
          <div class="panel-heading">
            <div class="panel-title">Data Latih</div>
          </div>
          <!-- /.panel-header -->
          <div class="panel-body">

            <table class="table table-striped nowrap" id="table-data-latih">
              <thead>
                <tr>
                  <th>NO</th>
                  <th>MEAN H</th>
                  <th>MEAN S</th>
                  <th>MEAN V</th>
                  <th>ASPECT_RATIO</th>
                  <th>FORM_FACTOR</th>
                  <th>RECT</th>
                  <th>NARROW_FACTOR</th>
                  <th>PRD</th>
                  <th>PLW</th>
                  <th>KELAS</th>
                </tr>
              </thead>
              <tbody>

              </tbody>

            </table>

          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <div style="display:none" id="content-data-uji">
        <div class="panel panel-gradient">
          <div class="panel-heading">
            <div class="panel-title">Data Uji</div>
            
          </div>
          <!-- /.panel-header -->
          <div class="panel-body">

            <table class="table table-striped nowrap" id="table-data-uji">
              <thead>
                <tr>
                  <th>NO</th>
                  <th>MEAN H</th>
                  <th>MEAN S</th>
                  <th>MEAN V</th>
                  <th>ASPECT_RATIO</th>
                  <th>FORM_FACTOR</th>
                  <th>RECT</th>
                  <th>NARROW_FACTOR</th>
                  <th>PRD</th>
                  <th>PLW</th>
                  <th>KELAS</th>
                  <th>Kelas Prediksi</th>
                  <th>Citra Prediksi</th>
                </tr>
              </thead>

            </table>

          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>





  {% endblock content %}

  {% block export-js %}
  <!-- DataTables -->
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  {% endblock export-js %}

  {% block js %}

  <script>
  var urlStatic = {% static "" %};
  var tableDataLatih = $("#table-data-latih").DataTable({
    "scrollX": true,
    "columns": [
    { "data": "nomor" },
    { "data": "mean_h" },
    { "data": "mean_s" },
    { "data": "mean_v" },
    { "data": "aspect_ratio" },
    { "data": "form_factor" },
    { "data": "rect" },
    { "data": "narrow_factor" },
    { "data": "prd" },
    { "data": "plw" },
    { "data": "kelas" },
    ],
    pageLength: 5,

    order : [],
  });
  var tableDataUji = $("#table-data-uji").DataTable({
    "scrollX": true,
    "columns": [
    { "data": "nomor" },
    { "data": "mean_h" },
    { "data": "mean_s" },
    { "data": "mean_v" },
    { "data": "aspect_ratio" },
    { "data": "form_factor" },
    { "data": "rect" },
    { "data": "narrow_factor" },
    { "data": "prd" },
    { "data": "plw" },
    { "data": "kelas" },
    { "data": "kelas_predicted" },
    { 
      "data": "citra_prediksi",
      "render": function(data, type, row, meta) {
        if (data == null) {
          return "";
        }
        return '<img width="100%" src="'+urlStatic+data+'" alt="">';
      }
    },
    ],
    pageLength: 5,

    order : [],
  });

  $("#form-latih").submit(function(e) {
    e.preventDefault();
    showSpinner();
    hideContent();
    var URL = "{% url 'buah/proses_pelatihan' %}";
    var data = new FormData($(this)[0]);
    axios.post(URL, data)
    .then((res) => {
      data = res.data;
      console.log(data);
      tableDataLatih.clear();
      tableDataLatih.rows.add(data.table_train);
      tableDataLatih.draw();

      tableDataUji.clear();
      tableDataUji.rows.add(data.table_test);
      tableDataUji.draw();


      $("#epoch-show").text(data.epoch);
      $("#jumlah_benar").text(data.jumlah_benar);
      $("#total_data_test").text(data.total_data_test);
      $("#akurasi").text(data.akurasi);

      $("html, body").animate({scrollTop: $("#content-menu").offset().top});
    })
    .catch(() => {

    })
    .then(() => {
      showContent();
      hideSpinner();


    })
  });

  function hideContent() {
    tableDataLatih.clear();
    tableDataLatih.draw();

    tableDataUji.clear();
    tableDataUji.draw();
    $("#epoch-show").text("");
    $("#jumlah_benar").text("");
    $("#total_data_test").text("");
    $("#akurasi").text("");
    $("#content-data-latih").hide();
    $("#content-data-uji").hide();
    $("#content-hasil-klasifikasi").hide();
  }
  function showContent() {
   $("#content-data-latih").show();
   $("#content-data-uji").show();
   $("#content-hasil-klasifikasi").show();
 }

 </script>
 {% endblock js %}